.App {
  text-align: center;
}

.App h1 {
  color: white;
  font-weight: 200;
}

.cardForm {
  display: flex;
  flex-direction: column;
  width: 50vw;
  margin: 0 auto;
}

.cardForm input[type="text"] {
  height: 28px;
  margin: 6px 0;
  /* text-align: center; */
  border: 1px solid #dddddd;
  font-size: 18px;
}

.cardForm input[type="submit"] {
  margin: 5px;
  width: 100px;
  font-weight: 200;
  font-size: 18px;
  border-radius: 6px;
  border: 1px solid #2171a1;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
  background-color: #2171a1;
  color: white;
}

.cardForm input[type="submit"]:active,
.cardForm input[type="submit"]:hover {
  background-color: #06466c;
  border-color: #06466c;
  cursor: pointer;
}

.save {
  margin: 5px;
  width: 100px;
  font-weight: 200;
  font-size: 18px;
  border-radius: 6px;
  border: 1px solid #00734a;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
  background-color: #00734a;
  color: white;
}

.save:active,
.save:hover {
  background-color: #003e28;
  border-color: #003e28;
  cursor: pointer;
}
